@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  margin: auto; /* div elementini sayfanın ortasına hizalıyoruz */
  width: 50%; /* div elementinin genişliğini yüzde 50 olarak ayarlıyoruz */
  padding: 10px; /* div elementinin iç kısmına 10 piksel boşluk veriyoruz */
  border: 1px solid black; /* div elementinin etrafına 1 piksel kalınlığında siyah bir çerçeve çiziyoruz */
  border-radius: 10px; /* div elementinin köşelerini yuvarlatıyoruz */
}

/* App bileşeninin başlığına bir stil ekliyoruz */
.App h1 {
  text-align: center; /* başlığı sayfanın ortasına hizalıyoruz */
  color: blue; /* başlığın rengini mavi yapıyoruz */
  font-family: Arial, Helvetica, sans-serif; /* başlığın yazı tipini belirliyoruz */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

 
